@charset "UTF-8";
/*  ---------------------------------------------------------------------- *\
        Indendation de la CODEBASE avec le préprocesseur CSS Sass ;
        Compilation main.SCSS vers main.CSS avec le script dans package.json ;
\*  ---------------------------------------------------------------------- */
/* PARTIELS : dans utils/, vous rangez vos variables, fonctions, mixins et les
%placeholders pour les extensions (si vous en utilisez) ;

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";*/
/*  ---------------------------------------------------------------------- *\
        "Améliorez la maintenabilité du code" avec les variables Sass ;
        "Addon COLORZILLA" to pick the exact color from template page (maquette) ;
        "Nommer" la variable en fonction de son "rôle" ;

        ICI, pas de liste
        car elles sont difficiles à lire en revenant sur le code & non contextuel

        une MAP pourrait etre realisé pour les differents ETATS avec une liste : focus, hover...
        https://openclassrooms.com/fr/courses/6106181-simplifiez-vous-le-css-avec-sass/6599971-integrez-les-types-de-donnees-sass
\*  ---------------------------------------------------------------------- */
/* PARTIELS : dans utils/, vous rangez vos variables, fonctions, mixins et les
%placeholders pour les extensions (si vous en utilisez) ;

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";*/
/*choix weight via la map fontDM*/
/*PARTIELS : le directory base/ contient les fichiers qui définissent
les fondations de votre site, par exemple la police de caractères
et les normes que vous voulez appliquer sur tout votre site,
telles que le box-sizing ;

@import "./03_base/_base";
@import "./base/typography";*/
/*  ---------------------------------------------------------------------- *\
            Font-family : DM_SANS
            \*  ---------------------------------------------------------------------- */
@font-face {
  font-family: "DM Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("DM Sans Regular"), url("../../assets/dm-sans-cufonfonts-webfont/DMSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "DM Sans Italic";
  font-style: normal;
  font-weight: normal;
  src: local("DM Sans Italic"), url("../../assets/dm-sans-cufonfonts-webfont/DMSans-Italic.woff") format("woff");
}
@font-face {
  font-family: "DM Sans Medium";
  font-style: normal;
  font-weight: normal;
  src: local("DM Sans Medium"), url("../../assets/dm-sans-cufonfonts-webfont/DMSans-Medium.woff") format("woff");
}
@font-face {
  font-family: "DM Sans Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("DM Sans Medium Italic"), url("../../assets/dm-sans-cufonfonts-webfont/DMSans-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: "DM Sans Bold";
  font-style: normal;
  font-weight: normal;
  src: local("DM Sans Bold"), url("../../assets/dm-sans-cufonfonts-webfont/DMSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "DM Sans Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("DM Sans Bold Italic"), url("../../assets/dm-sans-cufonfonts-webfont/DMSans-BoldItalic.woff") format("woff");
}
/*PARTIELS : le directory base/ contient les fichiers qui définissent
les fondations de votre site, par exemple la police de caractères
et les normes que vous voulez appliquer sur tout votre site,
telles que le box-sizing ;

*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body,
html {
  font-size: 10px;
  margin: 0;
  font-family: "DM Sans Regular";
  height: 100%;
}

a,
ul,
li {
  text-decoration: none;
  list-style: none;
  display: flex;
}

/*PARTIELS : components/ est utilisé pour ranger les blocs BEM
qui sont plus indépendants, comme les boutons.*/
/*  ---------------------------------------------------------------------- *\
            btn HOMEPAGE
\*  ---------------------------------------------------------------------- */
/* PARTIELS : dans utils/, vous rangez vos variables, fonctions, mixins et les
%placeholders pour les extensions (si vous en utilisez) ;

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";*/
/*  ---------------------------------------------------------------------- *\
            MIXIN TYPOGRAPHY
            RESPONSIVE BREACKPOINT
            64rem X 16px de font-size = 1024px
\*  ---------------------------------------------------------------------- */
.user__tags {
  background: white;
  color: black;
}

/*PARTIELS : components/ est utilisé pour ranger les blocs BEM
qui sont plus indépendants, comme les boutons.*/
/*  ---------------------------------------------------------------------- *\
            USERCARDS INDEX.HTML
\*  ---------------------------------------------------------------------- */
/* PARTIELS : dans utils/, vous rangez vos variables, fonctions, mixins et les
%placeholders pour les extensions (si vous en utilisez) ;

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";*/
/*  ---------------------------------------------------------------------- *\
            MIXIN TYPOGRAPHY
            RESPONSIVE BREACKPOINT
            64rem X 16px de font-size = 1024px
\*  ---------------------------------------------------------------------- */
.user__name {
  font-size: 3.6rem;
  line-height: 4.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #d3573c;
}

/*PARTIELS : components/ est utilisé pour ranger les blocs BEM
qui sont plus indépendants, comme les boutons.*/
/*  ---------------------------------------------------------------------- *\
            ANCHOR fix debut de page
\*  ---------------------------------------------------------------------- */
/* PARTIELS : dans utils/, vous rangez vos variables, fonctions, mixins et les
%placeholders pour les extensions (si vous en utilisez) ;

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";*/
/*  ---------------------------------------------------------------------- *\
            MIXIN TYPOGRAPHY
            RESPONSIVE BREACKPOINT
            64rem X 16px de font-size = 1024px
\*  ---------------------------------------------------------------------- */
.anchor {
  position: aboslute;
  left: 50%;
  top: 50%;
  transform: translate(-50% -50%);
  display: block;
  width: 17rem;
  height: 1.9rem;
  top: 0.3rem;
  bottom: 26.67%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  left: 0;
  right: 0;
  text-align: center;
  font-family: "DM Sans Bold";
  line-height: 2.3rem;
  text-align: center;
  color: black;
  font-size: 1.8rem;
  background-color: #db8876;
  border-radius: 0.3rem;
}
@media (max-width: 640px) {
  .anchor {
    display: none;
  }
}

/*PARTIELS : layouts/ est le dossier où vous mettez vos blocs BEM
qui contiennent ce qui est réutilisable,
par exemple un header pour les mises en page de grande taille
ou un footer ;

@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";*/
/* PARTIELS : dans utils/, vous rangez vos variables, fonctions, mixins et les
%placeholders pour les extensions (si vous en utilisez) ;

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";*/
/*  ---------------------------------------------------------------------- *\
            MIXIN TYPOGRAPHY
            RESPONSIVE BREACKPOINT
            64rem X 16px de font-size = 1024px
\*  ---------------------------------------------------------------------- */
.header,
nav {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
  height: auto;
  width: 70%;
  margin: 0.5rem;
}

.header__logo {
  display: flex;
  flex-basis: content;
  align-items: center;
  justify-content: center;
}

image {
  color: #901c1c;
}

.header__filter {
  display: flex;
  flex-wrap: wrap;
}

.header__filter-tag {
  height: 2.2rem;
  text-transform: capitalize;
  font-family: "DM Sans Bold";
  font-size: 1.2rem;
  padding: 0.2rem;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  align-items: center;
  justify-content: center;
  border-radius: 1.1rem;
  border: 0.05rem solid #525252;
  color: #901c1c;
}

/*PARTIELS : pages/ contient les blocs de code qui ne s’appliquent
qu’à une seule page. Vous utilisez des boutons dans tout votre site,
en revanche votre page d’accueil comporte une section Citation
et une grille de projets qui ne sont employés nulle part ailleurs.
En d’autres termes, pages/ contient des règles spécifiques à une
seule page qui ne seront pas réutilisées ailleurs ;

@import "./pages/about";
@import "./pages/project";*/
/* PARTIELS : dans utils/, vous rangez vos variables, fonctions, mixins et les
%placeholders pour les extensions (si vous en utilisez) ;

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";*/
/*  ---------------------------------------------------------------------- *\
            MIXIN TYPOGRAPHY
            RESPONSIVE BREACKPOINT
            64rem X 16px de font-size = 1024px
\*  ---------------------------------------------------------------------- */

/*# sourceMappingURL=main.css.map */
