@charset "UTF-8";
/*  ---------------------------------------------------------------------- *\
        Indendation de la CODEBASE avec le préprocesseur CSS Sass ;
        Compilation main.SCSS vers main.CSS avec le script dans package.json ;
\*  ---------------------------------------------------------------------- */
/* PARTIELS : dans utils/, vous rangez vos variables, fonctions, mixins et les
%placeholders pour les extensions (si vous en utilisez) ;

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";*/
/*  ---------------------------------------------------------------------- *\
        "Améliorez la maintenabilité du code" avec les variables Sass ;
        "Addon COLORZILLA" to pick the exact color from template page (maquette) ;
        "Nommer" la variable en fonction de son "rôle" ;

        ICI, pas de liste
        car elles sont difficiles à lire en revenant sur le code & non contextuel

        une MAP pourrait etre realisé pour les differents ETATS avec une liste : focus, hover...
        https://openclassrooms.com/fr/courses/6106181-simplifiez-vous-le-css-avec-sass/6599971-integrez-les-types-de-donnees-sass
\*  ---------------------------------------------------------------------- */
/* PARTIELS : dans utils/, vous rangez vos variables, fonctions, mixins et les
%placeholders pour les extensions (si vous en utilisez) ;

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";*/
/*  ---------------------------------------------------------------------- *\
            FADE FOTO
\*  ---------------------------------------------------------------------- */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* PARTIELS : dans utils/, vous rangez vos variables, fonctions, mixins et les
%placeholders pour les extensions (si vous en utilisez) ;

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";*/
/*choix weight via la map fontDM*/
/*PARTIELS : le directory base/ contient les fichiers qui définissent
les fondations de votre site, par exemple la police de caractères
et les normes que vous voulez appliquer sur tout votre site,
telles que le box-sizing ;

@import "./03_base/_base";
@import "./base/typography";*/
/*  ---------------------------------------------------------------------- *\
            Font-family : DM_SANS
            \*  ---------------------------------------------------------------------- */
@font-face {
  font-family: "DM Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("DM Sans Regular"), url("../../assets/dm-sans-cufonfonts-webfont/DMSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "DM Sans Italic";
  font-style: normal;
  font-weight: normal;
  src: local("DM Sans Italic"), url("../../assets/dm-sans-cufonfonts-webfont/DMSans-Italic.woff") format("woff");
}
@font-face {
  font-family: "DM Sans Medium";
  font-style: normal;
  font-weight: normal;
  src: local("DM Sans Medium"), url("../../assets/dm-sans-cufonfonts-webfont/DMSans-Medium.woff") format("woff");
}
@font-face {
  font-family: "DM Sans Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("DM Sans Medium Italic"), url("../../assets/dm-sans-cufonfonts-webfont/DMSans-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: "DM Sans Bold";
  font-style: normal;
  font-weight: normal;
  src: local("DM Sans Bold"), url("../../assets/dm-sans-cufonfonts-webfont/DMSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "DM Sans Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("DM Sans Bold Italic"), url("../../assets/dm-sans-cufonfonts-webfont/DMSans-BoldItalic.woff") format("woff");
}
/*PARTIELS : le directory base/ contient les fichiers qui définissent
les fondations de votre site, par exemple la police de caractères
et les normes que vous voulez appliquer sur tout votre site,
telles que le box-sizing ;

*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  font-size: 10px;
  font-family: "DM Sans Regular";
  height: 100vh;
}

a,
ul,
li {
  text-decoration: none;
  list-style: none;
  display: flex;
}

a:focus {
  outline: 3px solid black;
}

.visually-hidden {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  border: 0;
  clip: rect(0);
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.skip-links__a {
  position: absolute;
  top: -3em;
  background-color: black;
  color: white;
  padding: 0.75rem 0.75rem;
  font-weight: bold;
  text-decoration: none;
}
.skip-links__a:focus {
  top: 0em;
}

/*PARTIELS : components/ est utilisé pour ranger les blocs BEM
qui sont plus indépendants, comme les boutons.*/
/*  ---------------------------------------------------------------------- *\
            btn HOMEPAGE
\*  ---------------------------------------------------------------------- */
/* PARTIELS : dans utils/, vous rangez vos variables, fonctions, mixins et les
%placeholders pour les extensions (si vous en utilisez) ;

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";*/
/*  ---------------------------------------------------------------------- *\
            MIXIN TYPOGRAPHY
            RESPONSIVE BREACKPOINT
            64rem X 16px de font-size = 1024px
\*  ---------------------------------------------------------------------- */
.user__tags {
  background: white;
  color: black;
}

/*PARTIELS : components/ est utilisé pour ranger les blocs BEM
qui sont plus indépendants, comme les boutons.*/
/*  ---------------------------------------------------------------------- *\
            USERCARDS INDEX.HTML
\*  ---------------------------------------------------------------------- */
/* PARTIELS : dans utils/, vous rangez vos variables, fonctions, mixins et les
%placeholders pour les extensions (si vous en utilisez) ;

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";*/
/*  ---------------------------------------------------------------------- *\
            MIXIN TYPOGRAPHY
            RESPONSIVE BREACKPOINT
            64rem X 16px de font-size = 1024px
\*  ---------------------------------------------------------------------- */
.users {
  display: flex;
  flex-flow: row wrap;
  padding: 0.2rem;
  margin: 1rem;
  align-items: center;
  justify-content: space-evenly;
  gap: 5%;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  justify-content: center;
}
@media (max-width: 800px) {
  .user {
    width: 80%;
    align-items: center;
    margin: 2.5%;
    flex-wrap: wrap;
  }
}
.user--page {
  background-color: #fafafa;
  border-radius: 0.5rem;
  padding: 3rem 5rem;
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .user--page {
    width: fit-content;
    padding: 0.5rem;
  }
}
.user__body {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  gap: 2rem;
  width: 50%;
}
@media (max-width: 800px) {
  .user__body {
    width: 70%;
  }
}
.user__profil {
  background: #fafafa;
  margin-bottom: 0;
  gap: 2rem;
}
.user__profil--page {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.user__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: calc(7px + 3vw);
  line-height: 4.7rem;
  font-weight: normal;
  font-style: normal;
  color: #d3573c;
}
.user__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user__content--page {
  align-items: flex-start;
}
.user__img {
  cursor: pointer;
  object-fit: cover;
  object-position: top;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  box-shadow: 0px 4px 12px 0px #00000040;
}
@media (max-width: 800px) {
  .user__img {
    width: 15rem;
    height: 15rem;
    transform: translateY(10%);
  }
}
.user__name {
  text-transform: capitalize;
  font-size: calc(7px + 3vw);
  line-height: 4.7rem;
  font-weight: normal;
  font-style: normal;
  color: #d3573c;
  margin-top: 1rem;
  cursor: pointer;
}
.user__name--page {
  text-transform: capitalize;
  font-size: calc(7px + 3vw);
  line-height: 4.7rem;
  font-weight: normal;
  font-style: normal;
  color: #d3573c;
  font-size: calc(7px + 5vw);
  line-height: 8.333rem;
}
.user__location {
  text-transform: capitalize;
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-style: normal;
  font-weight: normal;
  color: #901c1c;
  margin-top: 0.1rem;
}
.user__location--page {
  text-transform: capitalize;
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-style: normal;
  font-weight: normal;
  color: #901c1c;
  font-size: 2.4rem;
}
.user__tagline {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.3rem;
  color: black;
}
.user__tagline--page {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.3rem;
  color: black;
  color: #525252;
  margin-top: 2rem;
  font-size: 1.8rem;
}
.user__contactButton, .filter__select, .filter__custom-option {
  font-family: inherit;
  display: block;
  position: static;
  cursor: pointer;
  transform: translateX(-15%);
  background-color: #901c1c;
  border-radius: 0.5rem;
  color: #fafafa;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  line-height: 2.604rem;
  width: 17rem;
  height: 6.9rem;
  border: none;
}
.user__contactButton:hover, .filter__select:hover, .filter__custom-option:hover {
  background-color: #d3573c;
  color: black;
}
@media (max-width: 800px) {
  .user__contactButton, .filter__select, .filter__custom-option {
    width: 17rem;
    height: 3.5rem;
    display: block;
    position: fixed;
    transform: translate(-50%);
    left: 50%;
    z-index: 9;
    top: 93vh;
  }
}
.user__price {
  font-size: 0.9rem;
  line-height: 1.2rem;
  font-style: normal;
  font-weight: normal;
  color: #525252;
}
.user__tags {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.user__tags--page {
  margin-bottom: 0;
  margin-top: 2rem;
}
@media (max-width: 800px) {
  .user__tags--page {
    flex-wrap: wrap;
  }
}
/*PARTIELS : components/ est utilisé pour ranger les blocs BEM
qui sont plus indépendants, comme les boutons.*/
/*  ---------------------------------------------------------------------- *\
            USERINFOS    USER.HTML
\*  ---------------------------------------------------------------------- */
/* PARTIELS : dans utils/, vous rangez vos variables, fonctions, mixins et les
%placeholders pour les extensions (si vous en utilisez) ;

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";*/
/*  ---------------------------------------------------------------------- *\
            MIXIN TYPOGRAPHY
            RESPONSIVE BREACKPOINT
            64rem X 16px de font-size = 1024px
\*  ---------------------------------------------------------------------- */
.infos {
  display: flex;
  flex-flow: raw nowrap;
  align-items: center;
  justify-content: space-around;
  width: 37.6rem;
  height: 8.9rem;
  font-weight: "DM Sans Bold";
  z-index: 9;
  border-radius: 0.5rem;
  background-color: #db8876;
  position: fixed;
  bottom: -2vh;
  right: 3%;
}
@media (max-width: 800px) {
  .infos {
    display: none;
  }
}
.infos__likes {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.infos__totalLikes, .infos__price {
  font-weight: 500;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 3.125rem;
  width: 8.7rem;
}
.infos__heart {
  width: 1.75rem;
  height: 1.835rem;
}
.infos__price {
  width: 50%;
}

/*PARTIELS : components/ est utilisé pour ranger les blocs BEM
qui sont plus indépendants, comme les boutons.*/
/*  ---------------------------------------------------------------------- *\
            ANCHOR fix debut de page
\*  ---------------------------------------------------------------------- */
/* PARTIELS : dans utils/, vous rangez vos variables, fonctions, mixins et les
%placeholders pour les extensions (si vous en utilisez) ;

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";*/
/*  ---------------------------------------------------------------------- *\
            MIXIN TYPOGRAPHY
            RESPONSIVE BREACKPOINT
            64rem X 16px de font-size = 1024px
\*  ---------------------------------------------------------------------- */
.anchor {
  cursor: pointer;
  position: aboslute;
  left: 50%;
  top: 50%;
  transform: translate(-50% -50%);
  display: block;
  width: 17rem;
  height: 1.9rem;
  top: 0.3rem;
  bottom: 26.67%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  left: 0;
  right: 0;
  text-align: center;
  font-family: "DM Sans Bold";
  line-height: 2.3rem;
  text-align: center;
  color: black;
  font-size: 1.8rem;
  background-color: #db8876;
  border-radius: 0.3rem;
}
@media (max-width: 800px) {
  .anchor {
    display: none;
  }
}

/*PARTIELS : components/ est utilisé pour ranger les blocs BEM
qui sont plus indépendants, comme les boutons.*/
/*  ---------------------------------------------------------------------- *\
            MODALE USER.HTML
\*  ---------------------------------------------------------------------- */
/* PARTIELS : dans utils/, vous rangez vos variables, fonctions, mixins et les
%placeholders pour les extensions (si vous en utilisez) ;

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";*/
/*  ---------------------------------------------------------------------- *\
            MIXIN TYPOGRAPHY
            RESPONSIVE BREACKPOINT
            64rem X 16px de font-size = 1024px
\*  ---------------------------------------------------------------------- */
.modal {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0.5rem;
  height: 97vh;
  z-index: 10;
  width: 66.9rem;
}
@media (max-width: 800px) {
  .modal {
    height: 90vh;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }
}
.modal__content {
  background: #db8876;
  position: relative;
  border-radius: 0.5rem;
  overflow: scroll;
  width: 100%;
  height: 100%;
}
.modal__close {
  position: absolute;
  background: url(../../assets/cross-white.svg) no-repeat center center/4.2rem 4.2rem;
  fill: #fafafa;
  height: 4.2rem;
  width: 4.2rem;
  top: 1.5rem;
  right: 1.5rem;
}
.modal__head {
  font-size: 6.4rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 8.333rem;
  display: block;
  color: black;
  width: 44.9rem;
  margin-top: 1.5rem;
  margin-left: 5%;
}
@media (max-width: 800px) {
  .modal__head {
    font-size: calc(10px + 9vw);
    line-height: 4.5rem;
    margin-left: 5%;
  }
}
.modal__body {
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 5%;
}

.form__data {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 0%;
  justify-content: center;
}
.form__label {
  margin-top: 4.67rem;
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  line-height: 4.687rem;
  margin-top: 1.2rem;
  font-size: 3.6rem;
}
.form__text {
  font-family: inherit;
  padding-left: 1rem;
  align-items: center;
  border-radius: 0.5rem;
  border: none;
  height: 6.8rem;
}
.form__text--area {
  padding-top: 1rem;
  border-radius: 0.5rem;
  border: none;
  height: 17rem;
  padding-left: 1rem;
  font-family: inherit;
}
.form__submitButton {
  background-color: #901c1c;
  font-size: 1.8rem;
  color: #fafafa;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: 700;
  line-height: 2.344rem;
  width: 17rem;
  height: 6.9rem;
  margin-top: 5%;
  margin-bottom: 5%;
  border: none;
  transform: translate(0);
}
@media (max-width: 800px) {
  .form__submitButton {
    width: 17rem;
    height: 3.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}

/*PARTIELS : components/ est utilisé pour ranger les blocs BEM
qui sont plus indépendants, comme les boutons.*/
/*  ---------------------------------------------------------------------- *\
SLIDER USER.HTML
\*  ---------------------------------------------------------------------- */
/* PARTIELS : dans utils/, vous rangez vos variables, fonctions, mixins et les
%placeholders pour les extensions (si vous en utilisez) ;

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";*/
/*  ---------------------------------------------------------------------- *\
            MIXIN TYPOGRAPHY
            RESPONSIVE BREACKPOINT
            64rem X 16px de font-size = 1024px
\*  ---------------------------------------------------------------------- */
.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  top: 0;
  left: 0;
  padding: 5rem;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background: #fafafa;
  z-index: 10;
  overflow: scroll;
}
.container__slider {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 70%;
  max-height: 100%;
}
.container__slider-image {
  display: none;
  border-radius: 0.5rem;
  width: 100%;
  height: 90%;
  object-fit: cover;
  object-position: top;
}
.container__slider-image.active {
  display: flex;
  animation: fade 1s ease-out;
}
.container__text {
  align-self: flex-start;
  margin-top: 1rem;
  color: #901c1c;
  font-size: 2.4rem;
  line-height: 3.125rem;
  font-style: normal;
  font-weight: 400;
  animation: fade 1s ease-out;
}
@media (max-width: 800px) {
  .container__text {
    font-size: calc(10px + 1.5vw);
  }
}
.container__btn-nav {
  cursor: pointer;
  height: 100%;
  border-radius: 0.5rem 0 0 0.5rem;
  position: fixed;
  margin-top: 0.7rem;
  z-index: 9;
}
.container__btn-nav--right {
  border: none;
  width: 15%;
  right: 0;
  background: url(../../assets/arrow.svg) center center/9rem 4rem no-repeat;
}
@media (max-width: 800px) {
  .container__btn-nav--right {
    background: url(../../assets/arrow.svg) center center/4.5rem 2rem no-repeat;
  }
}
.container__btn-nav--left {
  border: none;
  z-index: 12;
  width: 15%;
  background: url(../../assets/arrow.svg) center center/9rem 4rem no-repeat;
  left: 0;
  transform: rotate(180deg);
}
@media (max-width: 800px) {
  .container__btn-nav--left {
    background: url(../../assets/arrow.svg) center center/4.5rem 2rem no-repeat;
  }
}
.container__btn-nav--close {
  width: 20%;
  height: 4rem;
  background: url(../../assets/cross.svg) center center/3rem 3.5rem no-repeat;
  z-index: 14;
  position: relative;
  border: none;
  transform: rotate(90deg);
  margin-left: 50%;
  top: 0;
  color: transparent;
}

/*PARTIELS : layouts/ est le dossier où vous mettez vos blocs BEM
qui contiennent ce qui est réutilisable,
par exemple un header pour les mises en page de grande taille
ou un footer ;

@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";*/
/* PARTIELS : dans utils/, vous rangez vos variables, fonctions, mixins et les
%placeholders pour les extensions (si vous en utilisez) ;

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";*/
/*  ---------------------------------------------------------------------- *\
            MIXIN TYPOGRAPHY
            RESPONSIVE BREACKPOINT
            64rem X 16px de font-size = 1024px
\*  ---------------------------------------------------------------------- */
.header {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: row;
  align-items: center;
  height: auto;
  width: 70%;
  margin: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
@media (max-width: 800px) {
  .header {
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
.header--page {
  justify-content: flex-start;
  align-content: center;
  flex-direction: row;
  align-items: center;
  width: 70%;
  margin-left: 3rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  height: auto;
}
.header__logo {
  cursor: pointer;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 800px) {
  .header__logo {
    justify-content: flex-start;
    width: 50%;
  }
}
@media (max-width: 800px) {
  .header__nav {
    width: 100%;
    align-self: center;
  }
}
.header__filter, .user__tags {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: center;
}
@media (max-width: 800px) {
  .header__filter, .user__tags {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}
.header__filter-tag, .user__filter-tag {
  cursor: pointer;
  height: 2.2rem;
  text-transform: capitalize;
  font-family: "DM Sans Bold";
  font-size: 1.2rem;
  padding: 0.2rem;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  align-items: center;
  justify-content: center;
  border-radius: 1.1rem;
  border: 0.1rem solid #c4c4c4;
  color: #901c1c;
  transition: background-color 100ms, color 0ms;
}
.header__filter-tag:hover, .user__filter-tag:hover {
  background-color: #901c1c;
  color: #fafafa;
}

/*PARTIELS : pages/ contient les blocs de code qui ne s’appliquent
qu’à une seule page. Vous utilisez des boutons dans tout votre site,
en revanche votre page d’accueil comporte une section Citation
et une grille de projets qui ne sont employés nulle part ailleurs.
En d’autres termes, pages/ contient des règles spécifiques à une
seule page qui ne seront pas réutilisées ailleurs ;

@import "./pages/about";
@import "./pages/project";*/
/* PARTIELS : dans utils/, vous rangez vos variables, fonctions, mixins et les
%placeholders pour les extensions (si vous en utilisez) ;

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";*/
/*  ---------------------------------------------------------------------- *\
            MIXIN TYPOGRAPHY
            RESPONSIVE BREACKPOINT
            64rem X 16px de font-size = 1024px
\*  ---------------------------------------------------------------------- */
.header__title {
  font-size: calc(1px + 2.5vw);
  height: 4.7rem;
  top: 4.4rem;
  list-style: none;
  line-height: 4.687rem;
  color: #901c1c;
  position: absolute;
  padding: 0.2rem;
  margin-left: 72%;
  margin-right: 1%;
  margin-top: -1.5rem;
  text-align: center;
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 800px) {
  .header__title {
    margin-top: -3.5rem;
    margin-left: 60%;
    margin-right: 1rem;
    font-size: calc(1px + 3vw);
  }
}

/*PARTIELS : pages/ contient les blocs de code qui ne s’appliquent
qu’à une seule page. Vous utilisez des boutons dans tout votre site,
en revanche votre page d’accueil comporte une section Citation
et une grille de projets qui ne sont employés nulle part ailleurs.
En d’autres termes, pages/ contient des règles spécifiques à une
seule page qui ne seront pas réutilisées ailleurs ;*/
/* PARTIELS : dans utils/, vous rangez vos variables, fonctions, mixins et les
%placeholders pour les extensions (si vous en utilisez) ;

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";*/
/*  ---------------------------------------------------------------------- *\
            MIXIN TYPOGRAPHY
            RESPONSIVE BREACKPOINT
            64rem X 16px de font-size = 1024px
\*  ---------------------------------------------------------------------- */
.media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 800px) {
  .media {
    justify-content: center;
  }
}
.media__thumb {
  object-fit: cover;
  width: 100%;
  height: 26.5rem;
  border-radius: 0.5rem;
}
.media__card {
  display: block;
  margin-bottom: 1rem;
  max-width: 100%;
  width: 30rem;
  height: 30rem;
  padding: 1%;
  margin-bottom: 4rem;
  justify-content: center;
}
@media (max-width: 800px) {
  .media__card {
    margin-bottom: 6rem;
  }
}
.media a {
  position: relative;
}
.media__content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: #901c1c;
}
.media__title {
  width: 70%;
  font-size: 2.4rem;
  font-weight: 400;
  font-style: normal;
  line-height: 3.125rem;
}
.media__number {
  width: 15%;
  margin-right: 1rem;
  font-size: 2.4rem;
  font-weight: 500;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.media__likes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  color: #901c1c;
  justify-content: flex-end;
  margin-left: 1rem;
}

.filter {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 90%;
}
@media (max-width: 800px) {
  .filter {
    display: none;
  }
}
.filter__custom-select {
  margin-left: 6rem;
  z-index: 9;
}
.filter__custom-menu {
  z-index: 9;
  display: none;
  width: 14rem;
  flex-direction: column;
  position: absolute;
  box-shadow: 0px 8px 16px 0px black;
}
.filter__dropdown {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  margin-left: 6%;
}
.filter__label {
  font-family: "DM Sans Bold";
  font-size: 1.8rem;
  font-weight: 700;
  font-style: normal;
  line-height: 2.344rem;
}
.filter__select, .filter__custom-option {
  font-size: 1.8rem;
  width: 17rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  text-align: left;
  border: none;
  padding: 1.4rem 0 1.4rem 1rem;
}
.filter__select:after, .filter__custom-option:after {
  content: url("../assets/arrow-bottom.svg");
  padding-left: 2rem;
  color: white;
}
.filter__custom-option {
  border-top: 1px solid #fff;
  z-index: 9;
}
.filter__custom-option:after {
  content: "";
}
.filter .filter__custom-select:hover .filter__custom-menu {
  display: flex;
}

/*# sourceMappingURL=main.css.map */
