/*PARTIELS : le directory base/ contient les fichiers qui définissent
les fondations de votre site, par exemple la police de caractères
et les normes que vous voulez appliquer sur tout votre site,
telles que le box-sizing ;

*/

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  font-size: $fontsize10px;
  font-family: font-choice(regular);
  height: 100vh;
}

a,
ul,
li {
  text-decoration: none;
  list-style: none;
  display: flex;
}

//ici LES BASES POUR L ACCESSIBILITE

a:focus {
  outline: 3px solid black;
}

//class pour cacher : extended descriptions for images pour decrir un graphique ou des donnees par exmple

.visually-hidden {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  border: 0;
  clip: rect(0000);
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  &__a {
    position: absolute;
    top: -3em;
    &:focus {
      top: 0;
    }
  }
}
