/*PARTIELS : le directory base/ contient les fichiers qui définissent
les fondations de votre site, par exemple la police de caractères
et les normes que vous voulez appliquer sur tout votre site,
telles que le box-sizing ;

@import "./base/base";
@import "./base/typography";*/

/*  ---------------------------------------------------------------------- *\
            Font-family : DM_SANS
\*  ---------------------------------------------------------------------- */

@font-face {
  font-family: "dm_sansregular";
  src: url("./assets/DM_Sans/dmsans-regular-webfont.woff2") format("woff2"),
    url("./assets/DM_Sans/dmsans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// :active qui “permet de cibler un élément lorsque celui-ci est activé par l'utilisateur” (par exemple, quand l’utilisateur a cliqué dessus) ;

// :hover qui permet de spécifier l'apparence d'un élément au moment où l'utilisateur le survole avec le pointeur, sans nécessairement l'activer ;

// :link qui cible tous les liens n’ayant pas encore été visités ;

// :visited concernant tous les liens visités ;

// :focus qui permet de cibler un élément lorsque celui-ci reçoit le focus (élément sélectionné au clavier ou à la souris).
