/*PARTIELS : le directory base/ contient les fichiers qui définissent
les fondations de votre site, par exemple la police de caractères
et les normes que vous voulez appliquer sur tout votre site,
telles que le box-sizing ;

@import "./base/base";
@import "./base/typography";*/

/*  ---------------------------------------------------------------------- *\
            Font-family : DM_SANS
            \*  ---------------------------------------------------------------------- */

@font-face {
  font-family: "DM Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("DM Sans Regular"),
    url("../../assets/dm-sans-cufonfonts-webfont/DMSans-Regular.woff")
      format("woff");
}

@font-face {
  font-family: "DM Sans Italic";
  font-style: normal;
  font-weight: normal;
  src: local("DM Sans Italic"),
    url("../../assets/dm-sans-cufonfonts-webfont/DMSans-Italic.woff")
      format("woff");
}

@font-face {
  font-family: "DM Sans Medium";
  font-style: normal;
  font-weight: normal;
  src: local("DM Sans Medium"),
    url("../../assets/dm-sans-cufonfonts-webfont/DMSans-Medium.woff")
      format("woff");
}

@font-face {
  font-family: "DM Sans Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("DM Sans Medium Italic"),
    url("../../assets/dm-sans-cufonfonts-webfont/DMSans-MediumItalic.woff")
      format("woff");
}

@font-face {
  font-family: "DM Sans Bold";
  font-style: normal;
  font-weight: normal;
  src: local("DM Sans Bold"),
    url("../../assets/dm-sans-cufonfonts-webfont/DMSans-Bold.woff")
      format("woff");
}

@font-face {
  font-family: "DM Sans Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("DM Sans Bold Italic"),
    url("../../assets/dm-sans-cufonfonts-webfont/DMSans-BoldItalic.woff")
      format("woff");
}

// @mixin typographie-title-header {
//   position: absolute;
//   width: 306px;
//   height: 47px;
//   left: 1017px;
//   top: 44px;
//   font-family: $font;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 36px;
//   line-height: 47px;
//   color: $color-primary;
// }

// @mixin typographie-title-card {
//   position: absolute;
//   left: 10.5%;
//   right: 10%;
//   top: 70.97%;
//   bottom: 13.87%;
//   font-family: $font;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 36px;
//   line-height: 47px;
//   text-align: center;
//   color: $color-tertiar;
// }
// @mixin typographie-location-card {
//   position: absolute;
//   left: 31%;
//   right: 31%;
//   top: 86.13%;
//   bottom: 8.39%;
//   font-family: $font;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 13px;
//   line-height: 17px;
//   text-align: center;
//   color: $color-primary;
// }
// @mixin typographie-teaser-card {
//   position: absolute;
//   width: 192px;
//   height: 13px;
//   left: 4px;
//   top: 287px;
//   font-family: $font;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 10px;
//   line-height: 13px;
//   text-align: center;
//   color: $color-black;
// }
// @mixin typographie-price-card {
//   position: absolute;
//   width: 44px;
//   height: 12px;
//   left: 78px;
//   top: 303px;
//   font-family: $font;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 9px;
//   line-height: 12px;
//   text-align: center;
//   color: $color-gray;
// }
// @mixin typographie-tag {
//   position: absolute;
//   font-family: $font;
//   width: 58px;
//   height: 22px;
//   left: 675px;
//   top: 58px;
//   border: 0.5px solid $color-primary;
//   box-sizing: border-box;
//   border-radius: 11px;
// }

// :active qui “permet de cibler un élément lorsque celui-ci est activé par l'utilisateur” (par exemple, quand l’utilisateur a cliqué dessus) ;

// :hover qui permet de spécifier l'apparence d'un élément au moment où l'utilisateur le survole avec le pointeur, sans nécessairement l'activer ;

// :link qui cible tous les liens n’ayant pas encore été visités ;

// :visited concernant tous les liens visités ;

// :focus qui permet de cibler un élément lorsque celui-ci reçoit le focus (élément sélectionné au clavier ou à la souris).
