/* PARTIELS : dans utils/, vous rangez vos variables, fonctions, mixins et les
%placeholders pour les extensions (si vous en utilisez) ;

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";*/

/*  ---------------------------------------------------------------------- *\
            MIXIN TYPOGRAPHY
            RESPONSIVE BREACKPOINT
            64rem X 16px de font-size = 1024px
\*  ---------------------------------------------------------------------- */

@use "sass:color";

@mixin positionner($x: 50%, $y: 50%) {
  position: aboslute;
  left: $x;
  top: $y;
  transform: translate(-50% -50%);
}

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin tagTheme($light-theme: true) {
  @if $light-theme {
    background: lighten($color-white, 100%);
    color: darken($color-primary, 100%);
  }
}

@mixin mobile {
  @media (max-width: map-get($breakpoints, med)) {
    @content;
  }
}

@mixin typographie-title-card {
  text-transform: capitalize;
  font-size: calc(20px + 1.6vw);
  line-height: 4.7rem;
  font-weight: normal;
  font-style: normal;
  color: $color-tertiary;
}

@mixin typographie-location-card {
  text-transform: capitalize;
  font-size: map-get($font-size, location);
  line-height: 1.7rem;
  font-style: normal;
  font-weight: normal;
  color: $color-primary;
}

@mixin typographie-teaser-card {
  font-size: map-get($font-size, teaser);
  font-style: normal;
  font-weight: normal;
  line-height: 1.3rem;
  color: $color-black;
}
@mixin typographie-price-card {
  font-size: map-get($font-size, price);
  line-height: 1.2rem;
  font-style: normal;
  font-weight: normal;
  color: $color-gray;
}
