/* PARTIELS : dans utils/, vous rangez vos variables, fonctions, mixins et les
%placeholders pour les extensions (si vous en utilisez) ;

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";*/

/*  ---------------------------------------------------------------------- *\
        "Améliorez la maintenabilité du code" avec les variables Sass ;
        "Addon COLORZILLA" to pick the exact color from template page (maquette) ;
        "Nommer" la variable en fonction de son "rôle" ;

        ICI, pas de liste
        car elles sont difficiles à lire en revenant sur le code & non contextuel

        une MAP pourrait etre realisé pour les differents ETATS avec une liste : focus, hover...
        https://openclassrooms.com/fr/courses/6106181-simplifiez-vous-le-css-avec-sass/6599971-integrez-les-types-de-donnees-sass
\*  ---------------------------------------------------------------------- */
$fontsize10px: 0.625 * 16px;
$color-primary: #901c1c;
$color-secondary: #db8876;
$color-tertiary: #d3573c;
$color-gray: #525252;
$color-white-smoke: #fafafa;
$color-black: black;
$main-font: (
  regular: "DM Sans Regular",
  regularItalic: "DM Sans Italic",
  medium: "DM Sans Medium",
  mediumItalic: "DM Sans Medium Italic",
  bold: "DM Sans Bold",
  boldItalic: "DM Sans Bold Italic",
);
$breakpoints: (
  "small": 320px,
  "med": 800px,
  "large": 920px,
  "wide": 1200px,
  "mega": 1400px,
  // ...
);
$font-size: (
  title: 3.6rem,
  dropdown: 1.8rem,
  location: 1.3rem,
  teaser: 1.2rem,
  hashtag: 1.2rem,
  price: 0.9rem,
);

$appPadding: 3rem;
$border-radius: 1.1rem;
