/*PARTIELS : pages/ contient les blocs de code qui ne s’appliquent 
qu’à une seule page. Vous utilisez des boutons dans tout votre site, 
en revanche votre page d’accueil comporte une section Citation 
et une grille de projets qui ne sont employés nulle part ailleurs. 
En d’autres termes, pages/ contient des règles spécifiques à une 
seule page qui ne seront pas réutilisées ailleurs ;

@import "./pages/work";
@import "./pages/about";
@import "./pages/project";*/

.local {
  display: flex;
  justify-content: center;
  padding: 1.25rem $appPadding;
  background-color: $color-background-greydark;
  font-size: 1.2rem;
  position: relative;

  &__icon {
    margin-right: 1rem;
  }

  &__text {
    font-weight: 700;
  }
}

.hero {
  padding: 2rem;
  text-align: center;
  background-color:$color-background-greylight;

  &__title {
    margin: 0;
    color: $color-title;
  }

  &__subtitle {
    font-weight: 300;
    color: $color-title;
    margin: 1.5rem 0;
  }
}

.tuto {
  padding: $appPadding;

  &__title {
    margin-top: 0;
    color: $color-title;
  }

  &__steps {
    margin: 0;
    padding: 0;
    list-style: none;
    /* On initialise le compteur à compteListe 1 */
    counter-reset: compteListe;

    @media (min-width:$min-width-rem) {
      display: flex;
    }
  }

  &__step {
    padding: 1.5rem;
    margin: 1rem 0 1rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    background-color: $color-background-greylight;
    display: flex;
    position: relative;

    &:hover
      {
        @include step;
      }

    @media (min-width:$min-width-rem) {
      flex: 1;
      margin: 0;
      margin-left: 2rem;

      &:first-child {
        margin-left: 0.75rem;
      }
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      /* On incrémente le compteur compteListe de 1 a 1 */ 
      counter-increment: compteListe 1;
      /* Valeurs utilisant un compteur */
      content: counter(compteListe) " ";
      background: $color-primary;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      position: absolute;
      left: -0.75rem;
    }
  }

  &__icon {
    margin-right: 1rem;
    color: $color-icon;
  }
}

.restaurants {
  background-color: $color-background-greylight;
  padding: $appPadding;

  &__title {
    color: $color-title;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;

  @media (min-width:$min-width-rem) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;

  &__img {
    height: 12rem;
    width: 100%;
    border: transparent solid 0px;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
  }

  &__badge {
    background-color: $color-tertiary;
    color: darken($color-tertiary, 66%);
    padding: 0.7rem;
    border-radius: 0.3rem;
    position: absolute;
    top: 0.77rem;
    right: 0.77rem;
    
    &:hover{
      background-color: darken($color-tertiary, 7%);
    }
  }

  &__footer {
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__content {
    flex: 1;
  }

  &__title {
    margin: 0;
    margin-bottom: 0.21rem;
  }

  &__subtitle {
    margin: 0;
  }

  &__btn {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: transparent 0px solid;
    padding: 0;
    display:flex;
    align-items:center;
    justify-content:center;
  }

  &__like {
    background-color: $color-white!important;
    object-fit: cover;
  }
}
