/*PARTIELS : components/ est utilisé pour ranger les blocs BEM
qui sont plus indépendants, comme les boutons.*/

/*  ---------------------------------------------------------------------- *\
LIGHTBOX USER.HTML
\*  ---------------------------------------------------------------------- */

@import "../01_utils/mixins";

.lightbox {
  display: flex;
  align-items: center;
  position: fixed; //position fixed pour js
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 13;
  overflow: scroll;
  &__slide-prev,
  &__slide-next {
    cursor: pointer;
    height: 100%;
    width: 15%;
    position: fixed;
    margin-top: 0.7rem;
    z-index: 11;
  }
  &__slide-next {
    background: url(../../assets/arrow.svg) center center/9rem 4rem no-repeat;
    right: 0;
    border-radius: 0.5rem 0 0 0.5rem;
    &__:hover {
      animation-name: opacity;
      animation-duration: 1s ease-out;
    }
  }
  &__slide-prev {
    background: url(../../assets/arrow.svg) center center/9rem 4rem no-repeat;
    left: 0;
    transform: rotate(180deg);
    border-radius: 0 0.5rem 0.5rem 0;
    &:hover {
      animation-name: opacity;
      animation-duration: 1s ease-out;
    }
  }
  &__slider-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__slide-container {
    position: relative;
    width: clamp(290px, 70%, 100%);
    margin: auto;
  }
  &__slides {
    margin: 1rem;
    border-radius: 0.5em;
    width: 65rem;
    height: 65rem;
    object-fit: cover;
    object-fit: cover;
    object-position: 50% 30%;
    z-index: 12;
    animation: fadeIn 1s ease-out;
  }

  &__slide-text {
    color: $color-primary;
    font-size: 2.4rem;
    line-height: 3.125rem;
    font-style: normal;
    font-weight: 400;
    animation: fadeIn 1s ease-out;
    @include mobile {
      font-size: calc(10px + 1.5vw);
    }
  }
  &__close {
    width: 20%;
    height: 4rem;
    background: url(../../assets/cross.svg) center center/3.5rem 9rem no-repeat;
    z-index: 12;
    position: absolute;
    top: 0;
    right: -20%;
    border: none;
  }
}

/************CSS Animation***********/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
