/*PARTIELS : components/ est utilisé pour ranger les blocs BEM
qui sont plus indépendants, comme les boutons.*/

/*  ---------------------------------------------------------------------- *\
SLIDER USER.HTML
\*  ---------------------------------------------------------------------- */

@import "../01_utils/mixins";

.container {
  // opacity: 0.95;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  top: 0;
  left: 0;
  padding: 5rem;
  display: flex;
  align-content: center;
  justify-content: space-between;
  position: fixed;
  background: $color-white-smoke;
  z-index: 10;
  overflow: scroll;

  &__slider {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 70%;
    max-height: 100%;
  }

  &__slider-image {
    display: none;
    border-radius: 0.5rem;
    width: 100%;
    height: 90%;
    object-fit: cover;
    object-position: top;
    &.active {
      display: flex;
      animation: fade 1s ease-out;
    }
  }

  &__text {
    align-self: flex-start;
    margin-top: 1rem;
    color: $color-primary;
    font-size: 2.4rem;
    line-height: 3.125rem;
    font-style: normal;
    font-weight: 400;
    animation: fade 1s ease-out;
    @include mobile {
      font-size: calc(10px + 1.5vw);
    }
  }

  &__btn-nav {
    cursor: pointer;
    height: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
    position: fixed;
    margin-top: 0.7rem;
    z-index: 9;
    &--right {
      border: none;

      width: 15%;
      right: 0;
      background: url(../../assets/arrow.svg) center center/9rem 4rem no-repeat;
      @include mobile {
        background: url(../../assets/arrow.svg) center center/4.5rem 2rem
          no-repeat;
      }
    }
    &--left {
      border: none;
      z-index: 12;
      width: 15%;
      background: url(../../assets/arrow.svg) center center/9rem 4rem no-repeat;
      left: 0;
      transform: rotate(180deg);
      @include mobile {
        background: url(../../assets/arrow.svg) center center/4.5rem 2rem
          no-repeat;
      }
    }
    &--close {
      width: 20%;
      height: 4rem;
      background: url(../../assets/cross.svg) center center/3rem 3.5rem
        no-repeat;
      z-index: 14;
      position: absolute;
      border: none;
      transform: rotate(90deg);
      margin-left: 75%;
      top: 2rem;
      color: transparent;
      display: block;
    }
  }
}
